@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
}


h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.home {
    margin: 0;
    padding: 0;
}

.contenido-inicio {
    width: 90%;
    margin-left: 10%;
}

/* --------------- Primer seccion, slider y destacados --------------- */

.section {
    margin-top: 200px;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 55% 30%;
    grid-template-rows: 500px 500px;
}

.section .slider img{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section .slider .indicadores {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: white;
    margin-top: -40%;
}

.section .destacados{
    display: grid;
    grid-gap: 10%;
    grid-template-rows: 45%;
}

.section .destacados .promociones{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .destacados .noticias{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------- Seccion de servicios --------------- */

.servicios {
    margin-top: -400px;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 35% 50%;
    grid-template-rows: 400px 400px;
}

.servicios .img img{
    width: 100%;
    height: 100%;
}

.servicios .listado{
    display: grid;
    grid-gap: 10%;
    grid-template-rows: 50% 40%;
}

.servicios .listado .servicios-2{
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.servicios .listado .servicios-2 .varios{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.servicios .listado .servicios-2 li{
    list-style: none;
}

.servicios .listado .servicios-2 h5{
    margin-top: 30px;
}

.servicios .listado .servicios-2 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: -20px;
}

/* --------------- Seccion de productos --------------- */

.productos-inicio {
    margin-top: -300px;
    width: 100%;
}

.productos-inicio .title {
    text-align: center;
    margin-left: -10%;
    margin-bottom: 70px;
}

.productos-secc {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 5% 20% 20% 20% 5%;
    grid-template-rows: 300px 400px;
}

.productos-secc .direccionales {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.productos-secc .direccionales .material-symbols-outlined {
    font-size: 40px;
    cursor: pointer;
}

.productos-secc .tarjetas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.productos-secc .tarjetas .tarjeta-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.productos-secc .tarjetas .tarjeta-producto img {
    width: 200px;
    height: 250px;
    margin-top: -40px;
}

.productos-secc .tarjetas .tarjeta-producto h5 {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* --------------- Seccion de productos --------------- */

.citas {
    margin-top: -300px;
    width: 90%;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 40% 55%;
    grid-template-rows:  350px;
    border: 1px solid black;
}

.citas .contexto {
    padding: 40px;
}

.citas .formulario {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.citas .formulario div  {
    margin-top: 10px;
}

.citas .formulario .input1  {
    margin-right: 40px;
}

.citas .formulario .button {
    margin-top: 10px;
    width: 90%;
    background-color: #00C853;
}

/* --------------- Seccion de contactanos --------------- */

.contacto {
    margin-top: 100px;
    width: 90%;
}

.contacto .title {
    text-align: center;
}

.contacto-section {
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 42% 42%;
    grid-template-rows:  350px;
    margin-bottom: 100px;
}

.contacto .formulario {
    padding-left: 15%;
    padding-top: 40px;
}

.contacto .formulario .inputs {
    width: 70%;
    margin-bottom: 15px;
}

.contacto .formulario .button {
    width: 70%;
    margin-top: 20px;
    background-color: #00C853;
}

.contacto .ubicacion {
    padding: 40px;
}

.contacto .ubicacion img {
    width: 180px;
    height: 70px;
}

.contacto .ubicacion div {
    display: flex;
    align-items: center;
}

.contacto .ubicacion div .material-symbols-outlined {
    font-size: 40px;
    margin-right: 10px;
}